[submodule "Art/NsArt"]
	path = Art/NsArt
	url = https://github.com/mykaadev/NsArt.git
	branch = main
[submodule "Code/Algorithms/NsNeuralFramework"]
	path = Code/Algorithms/NsNeuralFramework
	branch = main
	url = https://github.com/mykaadev/NsNeuralFramework.git
[submodule "Code/Algorithms/NsSynapse"]
	path = Code/Algorithms/NsSynapse
	url = https://github.com/mykaadev/NsSynapse.git
	branch = main
[submodule "Code/Gameplay/NsInteraction"]
	path = Code/Gameplay/NsInteraction
	url = https://github.com/mykaadev/NsInteraction.git
	branch = main
[submodule "Code/Gameplay/NsSaveWizard"]
	path = Code/Gameplay/NsSaveWizard
	url = https://github.com/mykaadev/NsSaveWizard.git
	branch = main
[submodule "Code/Gameplay/NsUIFramework"]
	path = Code/Gameplay/NsUIFramework
	url = https://github.com/mykaadev/NsUIFramework.git
	branch = main
[submodule "Code/Tools/NsConsole"]
	path = Code/Tools/NsConsole
	url = https://github.com/mykaadev/NsConsole.git
	branch = main
[submodule "Code/Tools/NsProjectMaid"]
	path = Code/Tools/NsProjectMaid
	url = https://github.com/mykaadev/NsProjectMaid.git
	branch = main
[submodule "Code/Visuals/NsTween"]
	path = Code/Visuals/NsTween
	url = https://github.com/mykaadev/NsTween.git
	branch = main
[submodule "Code/Visuals/NsTextFlow"]
	path = Code/Visuals/NsTextFlow
	url = https://github.com/mykaadev/NsTextFlow.git
	branch = main
[submodule "Code/Utility/NsDataHandler"]
	path = Code/Utility/NsDataHandler
	url = https://github.com/mykaadev/NsDataHandler.git
	branch = main
[submodule "Code/Utility/NsSpyglass"]
	path = Code/Utility/NsSpyglass
	url = https://github.com/mykaadev/NsSpyglass.git
	branch = main
[submodule "Code/Gameplay/NsBackpack"]
	path = Code/Gameplay/NsBackpack
	url = https://github.com/mykaadev/NsBackpack.git
	branch = main
[submodule "Code/Gameplay/NsDungeonMaster"]
	path = Code/Gameplay/NsDungeonMaster
	url = https://www.github.com/mykaadev/NsDungeonMaster.git
